# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [pre-commit]
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: forbid-submodules
      - id: mixed-line-ending
        name: LF for all files
        args: [--fix=lf]
      - id: check-added-large-files
        exclude: \.gpkg$
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.0
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix, --extend-fixable=F401, --unsafe-fixes, --preview]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.16.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pandas-stubs==2.2.3.241126
  - repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-pyproject==1.2.3
          - flake8-spellcheck==0.28.0
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: ["--fix"]

  # commit-msg hooks
  - repo: https://github.com/jorisroovers/gitlint
    rev: v0.18.0
    hooks:
      - id: gitlint
        stages: [commit-msg]

  # Custom hook to catch any .gpkg-wal and .gpkg-shm files in the testdata
  # directory. This is useful because if you have a testdata file open in
  # another program and make any edits to it, they are not immediately
  # saved to the main .gpkg file. This can lead to a situation where
  # tests might pass on your machine because the temporary files exist
  # but since the temporary files are .gitignored a commit might not
  # include the latest changes to the main .gpkg file, causing tests to
  # fail in the remote repository and other developers' machines.
  - repo: local
    hooks:
      - id: temporary-geopackage-files
        name: check-temp-files
        entry: python tools/pre-commit/check_temp_files.py
        language: system
        types: [file]
        pass_filenames: false
